html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

body { 
    font-family: Arial, sans-serif; 
    background: #F1F0E8; 
    color: #28393E; 
}

/* Make the whole card clickable nicely */
.post-link {
    text-decoration: none;
    color: inherit;
}

/* Add hover effect to cards */
.post-card:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0 4px 15px #28393E;
    cursor: pointer;
}

.footer-container {
    background-color: #28393E;
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-container a {
    color: #86c5ff;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}
