body { 
    font-family: Arial, sans-serif; 
    background: #F1F0E8; 
    margin: 0; 
    color: #28393E; 
}

/* Make the whole card clickable nicely */
.post-link {
    text-decoration: none;
    color: inherit;
}

/* Add hover effect to cards */
.post-card:hover {
    transform: scale(1.02);
    transition: transform 0.3s;
    box-shadow: 0 4px 15px #89A8B2;
    cursor: pointer;
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #E5E1DA;
  }
 